@import "tailwindcss";

.text-ssm {
    font-size: 12px;
    line-height: var(--tw-leading, var(--text-sm--line-height) /* calc(1.25 / 0.875) ≈ 1.4286 */);
}

@media (max-width: 580px) {
  .hidden-580 {
    display: none;
  }
}

@media (max-width: 520px) {
  .block-520 {
    display: block;
  }
}

@media (max-width: 520px) {
  .hidden-520 {
    display: none;
  }
}

@media (max-width: 420px) {
  .hidden-420 {
    display: none;
  }
}

@media (max-width: 320px) {
  .hidden-320 {
    display: none;
  }
}

@media (max-width: 767px) {
  .bottom-767-css {
    bottom: 0;
  }
}

.ssm\:max-w-screen {
  @media (min-width: 500px) {
    max-width: 100vw;
  }
}

.ssm\:justify-between {
    @media (min-width: 420px) {
        justify-content: space-between;
    }
}

.ssm\:gap-12 {
    @media (min-width: 420px) {
        gap: calc(var(--spacing) * 12)
    }
}

.ssm\:block {
    @media (max-width: 420px) {
        display: none;
    }
}